.container {
  padding: 0 2rem;
}

.coffeeCupImg {
  position: absolute;
  z-index: 1;
  transform: rotate(50deg);
}
.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.heading2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .main {
    margin-top: 4rem;
  }
  .coffeeCupImg {
    right: 20%;
    top: 50px;
  }
  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .main {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
